<%= render "layouts/site_header" %>
<!-- <div class="header">
  <div class="fixed-header">
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="logo wow slideInLeft" data-wow-delay="0.3s">
              <a class="navbar-brand" href="/">
                <%= image_tag "logo-2.png" %>
              </a>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <nav class="cl-effect-1">
              <ul class="nav navbar-nav">
               <li><%= link_to "Home", "/" %></li>
               <li><a href="#about" class="scroll">About</a></li>
               <li><a href="#services" class="scroll">Services</a></li>
               <li><a href="#portfolio" class="scroll">Portfolio</a></li>
               <li><a href="#contact" class="scroll">Contact</a></li>
             </ul>
           </nav>
           <script>
            $(document).ready(function() {
              var navoffeset=$(".header").offset().top;
              $(window).scroll(function(){
                var scrollpos=$(window).scrollTop();
                if(scrollpos >=navoffeset){
                  $(".header").addClass("fixed");
                }else{
                  $(".header").removeClass("fixed");
                }
              });
            });
          </script>
        </div>
        <div class="clearfix"> </div>
      </nav>
    </div>
    <div class="clearfix"> </div>
  </div>
</div> -->
<!-- <div class="subject-training-banner">
  <%= image_tag "RailsBanner.jpg", class: "img-responsive" %>
</div>
<div class="container">
  <div class="well training-title">
    <h2 class="text-center">Ruby on Rails Industrial Training Contents</h2>
  </div>
  <div class="well training-terms">
    <p><strong>Courese Duration: </strong>2 Months (2 Hours in a day)</p>
    <p><strong>Course Fees: </strong>Rs.6000/-</p>
    <p><strong>Maximum Batch Size: </strong>5 Students</p>
    <p><strong>Morning Batch Timing: </strong>7:00 AM to 9:00 AM</p>
    <p><strong>Evening Batch Timing: </strong>5:00 PM to 7:00 PM</p>
     <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
      Terms and Conditions for Fee Consesion
    </button>
  </div>
  <div class="row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Introduction
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body training-content">
            <ul>
              <li>What is Ruby?</li>
              <li>Why Ruby?</li>
              <li>General Purpose of Ruby</li>
              <li>Brief history of Ruby</li>
              <li>Creating basic scripts in ruby</li>
              <li>Demo of sample Ruby programs</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Introduction to RVM
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body training-content">
            <ul>
              <li>RVM installation</li>
              <li>RVM commands</li>
              <li>RVM usages</li>
              <li>Ruby installation (RVM/RBENV)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Ruby operators and Ruby shell
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body training-content">
            <ul>
              <li>IRB – Ruby Shell</li>
              <li>Operators in Ruby</li>
              <li>Expressions in Ruby</li>
              <li>Numeric Methods</li>
              <li>Ranges in Ruby</li>
              <li>Control Structures in Ruby (loops, case, break, when)</li>
              <li>Conditional Structure in Ruby (if, if...else, if...elsif)</li>
              <li>String operations in Ruby</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Ruby Datatypes and Variables
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body training-content">
            <ul>
              <li>What is Datatype?</li>
              <li>Numbers, Strings, Arrays, Hashes, Symbols, Boolean</li>
              <li>Types of variables (Global, Class, Instance, Local, Constant, Pesudo)</li>
              <li>Difference between Local, Class and Instance Variables</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Ruby Methods and Modules
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body training-content">
            <ul>
              <li>Basic Ruby methods</li>
              <li>Return values from methods and return statements</li>
              <li>Class methods</li>
              <li>What is method invocation?</li>
              <li>Different ways for method invocation?</li>
              <li>What is method chaining?</li>
              <li>Method chaining with examples</li>
              <li>What are modules in Ruby?</li>
              <li>Why ruby modules?</li>
              <li>Ruby module examples?</li>
              <li>Ruby require and include statement</li>
              <li>Difference between class and module</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Ruby Object Oriented
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body training-content">
            <ul>
              <li>What is object oriented?</li>
              <li>Why object oriented?</li>
              <li>What is Ruby Class with example?</li>
              <li>What is Ruby Object with example?</li>
              <li>Creating Ruby class and objects: Example exercises</li>
              <li>Ruby initialize method</li>
              <li>Reader, Writer, and Accessor methods</li>
              <li>Class inheritance in Ruby</li>
              <li>Abstraction in Ruby</li>
              <li>Encapsulation in Ruby</li>
              <li>Defining attributes in Ruby</li>
              <li>Usage of super in Ruby</li>
              <li>Exception Handling in Ruby</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Front End Development Basics
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body training-content">
            <ul>
              <li><strong>HTML</strong>
                <ul class="inner-ul">
                  <li>Introduction to HTML</li>
                  <li>Practicing HTML Tags</li>
                  <li>Design Some static Web Pages in HTML</li>
                </ul>
              </li>
            </ul>
            <ul>
              <li><strong>CSS</strong>
                <ul class="inner-ul">
                  <li>Introduction to CSS</li>
                  <li>Types of CSS</li>
                  <li>Practicing CSS with HTML</li>
                  <li>Applying CSS rules to HTML Web Pages (of previous section)</li>
                </ul>
              </li>
            </ul>
            <ul>
              <li><strong>JavaScript</strong>
                <ul class="inner-ul">
                  <li>Introduction to JavaScript</li>
                  <li>Variables in JavaScript</li>
                  <li>Datatypes in JavaScript</li>
                  <li>Array in JavaScript</li>
                  <li>Control Structures in JavaScript</li>
                  <li>Conditional Structures in JavaScript</li>
                  <li>Introduction to JQuery</li>
                  <li>JQuery DOM </li>
                  <li>Practicing JQuery</li>
                </ul>
              </li>
            </ul>
            <ul>
              <li><strong>BootStrap</strong>
                <ul class="inner-ul">
                  <li>Introduction to Responsive Web Design</li>
                  <li>What is Bootstrap?</li>
                  <li>Why Bootstrap?</li>
                  <li>Usage of Bootstrap</li>
                  <li>Bootstrap Grid System Explanation</li>
                  <li>CSS Media Queries</li>
                  <li>Bootstrap JavaScript Components</li>
                  <li>Working with bootstrap (Create a static and responsive website using bootstrap)</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingEight">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Rails Introduction
            </a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
          <div class="panel-body training-content">
            <ul>
              <li>What is Rails?</li>
              <li>Why Rails?</li>
              <li>What is fullstack framework?</li>
              <li>Strengths of Rails</li>
              <li>DRY: Don’t Repeat Yourself</li>
              <li>COC: Convention Over Configuration</li>
              <li>Rails installation: Windows/Ubuntu</li>
              <li>What is Rubygems?</li>
              <li>Rails Components</li>
              <li>ORM (Object Relation Mapping)  Framework</li>
              <li>Rails Architecture : Model View Controller</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingNine">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              Database Basics
            </a>
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
          <div class="panel-body training-content">
            <ul>
              <li>Basics of Database Management System</li>
              <li>Practicing SQL Statements</li>
              <li>Introduction to Sqlite Database (Rails Default Database)</li>
              <li>Introduction to Postgres Database</li>
              <li>Introduction to MySQL Database</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTen">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              Practicing Rails
            </a>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
          <div class="panel-body training-content">
            <ul>
              <li>Creating sample rails application from scratch</li>
              <li>Folder structure explanation of a Rails application</li>
              <li>What is Controller in Rails?</li>
              <li>What is Routing in Rails?</li>
              <li>Rendering Views via Rails Routing</li>
              <li>What is Model in Rails?</li>
              <li>Rails generators</li>
              <li>Rails migrations</li>
              <li>Rails application environments</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingEleven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              Rails in more Deep Part 1
            </a>
          </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
          <div class="panel-body training-content">
            <ul>
              <li>Rails resources</li>
              <li>Rails Scaffolding</li>
              <li><strong>Active Record : Rails Model</strong>
                <ul class="inner-ul">
                  <li>Generating a model</li>
                  <li>Destroying a model</li>
                  <li>Rails Associations</li>
                  <li>Types of associations</li>
                  <li>With and without associations</li>
                  <li>Active record validations</li>
                  <li>Active record callbacks with callback types</li>
                  <li>Active record query interface</li>
                </ul>
              </li>
              <li><strong>Action Controller : Rails Controller</strong>
                <ul class="inner-ul">
                  <li>CRUD Actions</li>
                  <li>Rails Restful Resources</li>
                  <li>Controller Inheritance</li>
                  <li>Controller Parameters</li>
                  <li>Controller Callbacks</li>
                  <li>Controller Filters</li>
                </ul>
              </li>
              <li><strong>Action View : Rails View</strong>
                <ul class="inner-ul">
                  <li>Embedded Ruby</li>
                  <li>Working with Jquery, JavaScript, and Bootstrap in Rails</li>
                  <li>Working with Ajax</li>
                  <li>Rails Asset Pipeline</li>
                </ul>
              </li>
              <li>Action Mailer : Sending Mails with Rails</li>
              <li>Rails Form Helpers</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwelve">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              Rails in more Deep Part 2
            </a>
          </h4>
        </div>
        <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
          <div class="panel-body training-content">
            <ul>
              <li>Creating Live Project in Rails</li>
              <li>Bootstrap Template Integration in Rails Application</li>
              <li>Introduction to GIT</li>
              <li>Setting up account on GIT</li>
              <li>Creating a repository on GIT</li>
              <li>Working with GIT in Rails Project</li>
              <li>Rails project deployment over GIT</li>
              <li>Introduction to Heroku</li>
              <li>Setting up account on GIT</li>
              <li>Creating an application on Heroku</li>
              <li>Deploying Rails Project on Heroku</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rails-model">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="memberModalLabel">Thank you for signing in!</h4>
      </div>
      <div class="modal-body ">
        <p>However the account provided is not known.<BR>If you just got invited to the group, please wait for a day to have the database synchronized.</p>
        <p>You will now be shown the Demo site.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content training-terms-model">
      <div class="modal-header test-terms">
        <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Terms and Conditions for Fees</h4>
      </div>
      <div class="modal-body">
        <ul class="test-terms">
          <li>Test will contain 50 technical questions of C, DBMS, Data Structure.</li>
          <li>Level of Test: 40% Basic Questions, 40% Moderate Questions, 20% Complex Questions.</li>
          <li>Course Fee will be reduced to 50% if candidate will get 75% or More Marks in test.</li>
          <li>Course Fee will be reduced to 40% if candidate will get 75% to 60%  Marks in test.</li>
          <li>Course Fee will be reduced to 30% if candidate will get 60% to 50%  Marks in test.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <p><strong>Note: </strong>Candidates need to register for giving the test. Registration fee is Rs. 500. Once you get registered a button to start the test will appeare.</p>
      </div>
    </div>
  </div>
</div> -->
<div class="container" style="margin-bottom: 2%; margin-top: 10%;">
  <div class="row">
    <div class="col-md-9">
      <div class="course-title hidden-xs">
        <h1 class="">Ruby on Rails Web Development Training</h1>
      </div>
      <div class="well course-title visible-xs">
        <h1 class="">Ruby on Rails Web Development Training</h1>
      </div>
      <div class="course-banner">
        <%= image_tag "RailsBanner.jpg", class: "img-responsive" %>
      </div>
      <div class="course-description">
        <h2 class="hidden-xs">Course Description</h2>
        <div class="well visible-xs">
          <h2>Course Description</h2>
        </div>
        <p>We will start our ruby on rails training with a quiz based on basic programming concepts and data structures. After this quiz we will initiate our Ruby on Rails training with fundamental Object Oriented Programming concepts. And then we will teach Ruby Programming like Ruby Syntax, Ruby scripts including OOPs concepts, Modules, Blocks and Methods. After completion of this phase we will move the Ruby on Rails framework to build the backend of a web application. But before that we will take an introductory session on web development</p>
        <p>Meanwhile we will teach concepts of Database Management System to our students so that they create their own database to work on their own projects using MVC (Model, View and Controller) architecture of Rails platform.Till yet students will find themselves able to develope application in Rails. Now we will introduce students about Javascript, Jquery and Bootstrap for template integrations.</p>
        <p>This course is completely project based. Students will be divided into groups of five members in a group. And each group will build one apllication together to ensure complete understanding of the framework. Students are allowed to build their own application and our trainers and team will provide necessary support.</p>
        <p>The course also includes the code deployment over GIT and heroku, hence we will provide training for GIT, Heroku. Our Ruby on Rails training course will capture all the basic requirements to work as a backend developer in any organization.This is a a course with no loose ends for someone who wants to learn the rails platform.</p>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="course-opts"></div>
          <div class="learn-opts">
            <h1>Here's What Students Will Learn.</h1>
            <ul class="learn-opts-ul">
              <li>Learn to develop back ends of websites with Rails.</li>
              <li>Learn Object Oriented Programming in  Ruby.</li>
              <li>Ensure that the websites you build are dynamic, sustainable, cost effective, and high on quality and maintainability.</li>
              <li>Learn how applications are built from scratch. You will get to know how an idea written on paper can be turned into an application used by people.</li>
            </ul>
          </div>
          <div class="course-opts"></div>
          <div class="learn-opts">
            <h1>What Pre-requiests For You</h1>
            <ul class="learn-opts-ul">
              <li>Basic Knowledge of Object Oriented Programming language would be beneficial.</li>
              <li>Prior Knowledge of programming is a plus, however not mandatory.</li>
              <li>Basics of any database.</li>
              <li>Basic of Front End Designing tools such as HTML, CSS and JavaScript is desirable, however not mandatory.</li>
            </ul>
          </div>
          <div class="course-opts"></div>
          <div class="learn-opts">
            <h1>Target Audience</h1>
            <ul class="learn-opts-ul">
              <li>Students who want to have a job worthy skill set.</li>
              <li>Software Developers who want to get to an intermediate level with a strong understanding of good programming practices.</li>
              <li>Web Designers who want to evolve as full stack developers.</li>
              <li>One making a career shift and wanting to become a developer.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="course-opts"></div>
          <div class="primary-opts">
            <h1>Primary Factors</h1>
            <ul class="learn-pri-ul">
              <li>Maximum Batch Size 5.</li>
              <li>Feasible Batch Timings</li>
              <li>Both Weekend and Week Days Classes</li>
              <li>Student specific training based on their abilities.</li>
              <li>Strong in-house community.</li>
              <li>Constant Support.</li>
              <li>Live project based training.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 left-side-panel">
      <p><i class="fa fa-clock-o"></i> <strong>Duration: 2 Months</strong> </p>
      <p><i class="fa fa-bullhorn"></i> <strong>Lectures: 35 </strong> </p>
      <p><i class="fa fa-id-card-o"></i> <strong>Certificate on Project Completion </strong></p>
      <div class="well">
        <h2 class="text-center">FAQs</h2>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Why should I learn Ruby on Rails?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              It is perfect for web development and fits like a glove. Let’s just say that Ruby on Rails is absolutely ideal for building web applications. The great thing about it is that you can get a working prototype up and running extremely quickly. Checking the feasibility of a project is made much easier because of this. It saves your money as it is 100 % free and runs on Linux, which is also open source. In addition to being cost-saving technology, Ruby on Rails can turn some developers from lumbering sloths to rapid code monkeys. Not only does it allow you to move from the planning stages to actual development very quickly, it’s also easy to handle compared to other technologies.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What will I accomplish after doing this coures?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>After completing our course, you will be able to:</p>
              <ul>
                <li>Develop back end of websites with Rails</li>
                <li>Build more cost-effective websites that do not compromise on quality</li>
                <li>Work with Basic Variables, Methods, Classes and Objects</li>
                <li>Understand about Constructor, Attributes, Interactive Ruby, Arrays and Hashes, Control Structures, Regular Expressions, Blocks and Iterators</li>
                <li>Know how to work with Access Control, Standard types: Integer, String, Float, expressions and command expressions</li>
                <li>Work with Modules and Mixins</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What projects I am expected to do?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              You will be taught ruby on rails through development of a project. The project complexity can range based on the experience and the essential training need for the batch members. Towards the end of the course, all participants will be required to work on your own project to get hands on familiarity with the concepts learnt. You will build a Ruby on Rails application with full support from our mentors. Our instructors and industry experts will review this project, which can also be a live industry project. On successful completion, you will be awarded a certificate.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                How many hours of study will be required?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              Based on your learning capability, you may be required to put in at least 10 to 12 hours of effort every week which includes the live classes, assignments and self study.
            </div>
          </div>
        </div>
      </div>
      <div class="enquiry-form">

        <div class="form-head"><h4><strong>Know More About Course</strong></h4></div>
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Your Name Here"></input>
          </div>
          <div class="form-group">
            <input type="email" class="form-control input-lg" placeholder="Your Email Here"></input>
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Your Contact Here"></input>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">SEND</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.training-content').attr('unselectable','on')
  .css({'-moz-user-select':'-moz-none',
   '-moz-user-select':'none',
   '-o-user-select':'none',
   '-khtml-user-select':'none', /* you could also put this in a class */
   '-webkit-user-select':'none',/* and add the CSS class here instead */
   '-ms-user-select':'none',
   'user-select':'none'
 }).bind('selectstart', function(){ return false; });
  $('.training-content').bind('contextmenu', function(e) {
    return false;
  });
  // $(document).ready(function () {

  //   $('#memberModal').modal('show');

  // });
</script>